.container {
  padding-top: 45px;
  padding: 56px 30px 20px 30px;
}

.loadingContainer {
  display: flex;
  width: 100%;
}

.loadingText {
  color: #616161;
  font-size: 14px;
  display: flex;
  align-items: center;
  padding-left: 5px;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Snackbar {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 4px;
  padding: 15px;
  background-color: #fff;
}
